#### Operators

===>>> Which are the special Symbols

===>>> Which are used for to do the operations on data ( operands)

##### Arithmetic Operator

===>>> Which are used for to the arithmetic / Mahametical Operations

1. Addition         +  

2. Subtraction      -

3. Multiplication   *

4. Division         /

5. Modulus          %

6. Floor Divsion    //

7. Exponant        **


##### Relational Operator

===>> Compare the 2 inputs ( data / operands )

===>> The result of relational operators are True / False  --> boolean operator

1.  lessthan                  <

2. Greaterthan                >

3. Equal to                  ==

4. Not Equal too             !=

5. Lessthan or equal         <=

6. greaterthan or equal      >=


##### Logical Operators

===>> Logical Operator are operating based on logic

1. Logical AND     ---> and

====>>>  If all inputs are True then output is True other wise its False

====>> In python

input1  and input2  ---->  input1 / input2

2. Logical OR      ---> or

====>>>  atleast any one  input is  True then output is True other wise its False

====>> In python

input1  and input2  ---->  input1 / input2


3. Logical NOT     ---> not

====>>> if input is False then output is True 

====>>> if input is True then output is False




#### Assignment Operator


#### Identity Operator

#### Membership Operator

#### Bitwise operators

In [1]:
# Arithmetic Operator
a = input("enter a : ")
b = input("enter b : ")
print a," + ",b," = ",a+b
print a," - ",b," = ",a-b
print a," * ",b," = ",a*b
print a," ** ",b," = ",a**b   #####  a * a * a * a *------- b times
print a," % ",b," = ",a%b
print a," / ",b," = ",a/b
print a," // ",b," = ",a//b

enter a : 103.0
enter b : 3.0
103.0  +  3.0  =  106.0
103.0  -  3.0  =  100.0
103.0  *  3.0  =  309.0
103.0  **  3.0  =  1092727.0
103.0  %  3.0  =  1.0
103.0  /  3.0  =  34.3333333333
103.0  //  3.0  =  34.0

In [2]:
# wap find the area of square and perimter of sqaure 

side = input("enter side of a squre  in meters : ")
area =  side ** 2
peri = 4 * side
print "area of sqaure  : ",area, " sq .m "
print "perimterof sqaure : ",peri," meters"

enter side of a squre  in meters : 40
area of sqaure  :  1600  sq .m
perimterof sqaure :  160  meters

In [ ]:
# wap find the area and perimter of rectangular
# wap find the area and perimter of circle
# wap find the area and perimter triangle
# wap convert radians to degrees  vice verse

In [3]:
# Relational Operator
a = input("enter a : ")
b = input("enter b : ")
print a," < ",b," = ",a <b
print a," > ",b," = ",a > b
print a," == ",b," = ",a==b
print a," != ",b," = ",a!=b   
print a," <= ",b," = ",a<=b
print a," >= ",b," = ",a>=b

enter a : 10
enter b : 10
10  <  10  =  False
10  >  10  =  False
10  ==  10  =  True
10  !=  10  =  False
10  <=  10  =  True
10  >=  10  =  True

In [4]:
# Relational Operator
a = input("enter a : ")
b = input("enter b : ")
print a," < ",b," = ",a <b
print a," > ",b," = ",a > b
print a," == ",b," = ",a==b
print a," != ",b," = ",a!=b   
print a," <= ",b," = ",a<=b
print a," >= ",b," = ",a>=b

enter a : 20
enter b : 10
20  <  10  =  False
20  >  10  =  True
20  ==  10  =  False
20  !=  10  =  True
20  <=  10  =  False
20  >=  10  =  True

In [5]:
# Relational Operator
a = input("enter a : ")
b = input("enter b : ")
print a," < ",b," = ",a <b
print a," > ",b," = ",a > b
print a," == ",b," = ",a==b
print a," != ",b," = ",a!=b   
print a," <= ",b," = ",a<=b
print a," >= ",b," = ",a>=b

enter a : 10
enter b : 20
10  <  20  =  True
10  >  20  =  False
10  ==  20  =  False
10  !=  20  =  True
10  <=  20  =  True
10  >=  20  =  False

In [6]:
# wap given number is Odd or not   ---> True / False
num = input("enter num : ")
rem = num %2
print num," is odd ", rem == 1

enter num : 45
45  is odd  True

In [7]:
# wap given number is Odd or not   ---> True / False
num = input("enter num : ")
rem = num %2
print num," is odd ", rem == 1

enter num : 40
40  is odd  False

In [8]:
#### Logical Operators
'''
int       <-->   0 --> False case  ,  +ve / -ve  ---> True case
float     <--> 0.0 --> False case  ,  +ve / -ve  ---> True case
complex   <--> 0+0j --> False case  ,  +ve / -ve  ---> True case
bool   <-->   False --> False case  ,  True       ---> True case
None   <-->   None --> False case  
str,list, tuple, set, dict  ---> len is 0 ---> False  case, otherwise ---> True Case
'''
# Logical AND   
'''
in1   and   in2   ----> res ( in1/in2)

res --> in1 , when the in1 is False Case

res --> in2 ,  when the in1 is True Case
'''

print 34     and  {12,35} # {12,35}
print {}     and  4556    # {}
print [12,3] and  {} # {}
print 0+0j   and  {2,3} # 0j
print 0.000  and  34.23 #0.0

set([35, 12])
{}
{}
0j
0.0

In [9]:
# Logical OR   
'''
in1   or   in2   ----> res ( in1/in2)

res --> in2 , when the in1 is False Case

res --> in1 ,  when the in1 is True Case
'''

print 34     or  {12,35}  # 34
print {}     or  4556     # 4556
print [12,3] or  {}       #[12,3]
print 0+0j   or  {2,3}    #{2,3}
print 0.000  or  34.23    #34.23

34
4556
[12, 3]
set([2, 3])
34.23

In [10]:
# logical NOT   --> not

print not 45  # False
print not {}  # True

False
True

In [11]:
# assignment operators  --> to assign the data to variable
'''
data  --> constant , variable , expression
'''
a = 34 # constant ot variable
b = 67
c = a  # variable to variable
d = a+b*c # expression to variable
print a
print b
print c
print d

34
67
34
2312

In [12]:
# Compound Assignment Operators

a =  12
b = 23
print a
print b
a = a + b  # addition then update
print a
print b

12
23
35
23

In [13]:

a =  12
b = 23
print a
print b
a += b       #a = a + b  # addition then update
print a
print b

12
23
35
23

In [14]:
a =  12
b = 23
print a
print b
a -= b       #a = a - b  # subtraction then update
print a
print b

12
23
-11
23

In [15]:
a =  12
b = 23
print a
print b
a *= b       #a = a * b  # multiplication then update
print a
print b

12
23
276
23

In [18]:
# Identity operator
'''
===> To check the memory the memory loc 

is  

True  --> Same 

false  --> diffe

is not

True  --> diff

false  --> same
'''
a = [12,45,78]
b = [12,45,78]
print a
print b
print id(a)
print id(b)
print a is b
print a is not b

[12, 45, 78]
[12, 45, 78]
78483016
80197064
False
True

In [19]:
# Identity operator
'''
===> To check the memory the memory loc 

is  

True  --> Same 

false  --> diffe
'''
a = [12,45,78]
b = a
print a
print b
print id(a)
print id(b)
print a is b
print a is not b

[12, 45, 78]
[12, 45, 78]
72211272
72211272
True
False

In [20]:
# Membership Operators
'''
==> one element is available in another group of  elements

in

True  --> available
False --> Not available

not in
False --> available
True --> Not available

'''
a = [45,90,100]
b =45
c =110
print  b in  a # True
print  c in a  # False
print  b not in a # False
print c not in a # True

True
False
False
True